* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', system-ui;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Inter", sans-serif;
}

@media screen and (prefers-color-scheme: dark) {
  * {
    color: white;
  }
  body {
    background: rgb(66, 66, 66);
  }
  .wrapper {
    background: rgb(112, 112, 112);

    header {
      svg {
        path {
          stroke: white;
          fill: none;
        }
      }
      li:nth-child(2) {
        svg {
          path {
            fill: white;
            stroke: none;
          }
        }
      }
    }
  }
}
@media screen and (prefers-color-scheme: light) {
  * {
    color: black;
  }
  body {
    background: #dcf1ff;
  }
  .wrapper {
    background: rgb(255, 255, 255);

    header {
      svg {
        path {
          stroke: rgb(155, 155, 155);
          fill: none;
        }
      }
      li:nth-child(2) {
        svg {
          path {
            fill: rgb(155, 155, 155);
            stroke: none;
          }
        }
      }
    }
  }
}


.wrapper {
  width: 80%;
  margin: 5vh auto;
  height: 100vh;
  border-radius: 50px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2.5vh;

    .headerLeft, .headerRight {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 5vh;
      }
    }
  }
}

@media (orientation:portrait) {
  .wrapper {
    width: 90%;
    margin: 2.5vh auto;
    border-radius: 10px;

    .header {
      padding: 1vh 1.5vh;
    }
  }
}