* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', system-ui;
  list-style-type: none;
}
html {

}

html, body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Inter", sans-serif;
  overflow-y: scroll;

  #root {
    padding-bottom: 2.5vh;
  }
}

@media screen and (prefers-color-scheme: dark) {
  * {
    color: white;
  }
  body {
    background: rgb(66, 66, 66);
  }

  .svgStroke {
    path {
      stroke: rgb(255, 255, 255);
      fill: none;
    }
  }

  .svgFill {
    path {
      fill: rgb(255, 255, 255);
      stroke: none;
    }
  }

  .svgFull {
    path {
      fill: rgb(255, 255, 255);
      stroke: rgb(255, 255, 255);
    }
  }

  .svgRectFill {
    rect {
      fill: rgb(112, 112, 112);
    }
  }

  .wrapper {
    background: rgb(112, 112, 112);

    .search-block {
      border: solid 1px #7e7e7e;

      input::placeholder {
        color: white;
      }
    }

  }
}
@media screen and (prefers-color-scheme: light) {
  * {
    color: black;
  }
  body {
    background: #dcf1ff;
  }

  .svgStroke {
    path {
      stroke: rgb(155, 155, 155);
      fill: none;
    }
  }

  .svgFill {
    path {
      fill: rgb(155, 155, 155);
      stroke: none;
    }
  }

  .svgRectFill {
    rect {
      fill: #ffffff;
    }
  }

  .wrapper {
    background: rgb(255, 255, 255);

    .search-block {
      border: 1px solid #f3f3f3;

      input::placeholder {
        color: black;
      }
    }

  }
}

.greenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6.5vh;
  background: #73bd48;
  border-radius: 18px;
  border: none;
  font-size: 1.75vh;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#73bd48, 5%);
  }

  &:active {
    background: darken(#73bd48, 5%);
  }
}

.wrapper {
  width: 80%;
  margin: 5vh auto;
  height: 100%;
  min-height: 100vh;
  border-radius: 50px;

  .content {
    padding-left: 1.5%;

    .content-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 4vh auto;
      padding: 1vh;

      h2 {
        width: 50vw;
        font-weight: 600;
        word-break: break-all;
        text-overflow: white-space;
      }
    }

    .search-block {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding-left: 1.5vh;

      .clear {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 2.5%;
        cursor: pointer;
      }

      img {
        height: 1.5vh;
      }

      input {
        border: none;
        background: rgba(255, 255, 255, 0);
        padding: 1.25vh;
        font-size: 2vh;
        font-weight: 500;

        &:focus {
          outline: none;
          border: none;
        }

        &::placeholder {
          font-size: 2vh;
        }
      }

    }

    h2 {
      font-size: 3.5vh;
    }

    .sneakers {
      display: grid;
      grid-template-columns: repeat(auto-fill, 22.5vh);
      grid-auto-rows: 30vh;
      gap: 2vw;
      padding-bottom: 2.5vh;
    }
  }
}

@media (orientation:portrait) {

  body {
    #root {
      padding-bottom: 1px;
    }
  }

  .wrapper {
    width: 90%;
    margin: 2.5vh auto;
    border-radius: 25px;

    .content {
      margin: 0;
      padding: 1vh;

      .content-title {
        display: block;
        margin: 1vh auto 4vh auto;

        h2 {
          width: 100%;
          font-size: 2.6vh;
          font-weight: 600;
          margin-bottom: 3vh;
        }
      }

      .search-block {
        input {
          width: 100%;
        }
      }

      .sneakers {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17vh, 1fr));
        grid-auto-rows: min-content;
        gap: 5vw;
      }
    }
  }
}